body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.div-runitem {
  padding-bottom: 5px;
}

#div-chart {
  display: block;
  margin: 0 auto;
}
.btn-list {
  margin-right: 5px;
}
.row-menu {
  margin-bottom: 10px;
}
#content {
  margin-top: 70px;
}