<!DOCTYPE html>
<html lang="ko">
  <%- include head.ejs %>
  <body>
    <div class="container">
      <%- include nav.ejs %>
      <div class="container">

      </div>
    </div>
    <%- include tail.ejs %>
  </body>
</html>
