<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Timetable</a>  
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">   
        <li><a class="nav-link" href="/run-list">결과 목록</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">앙</a></li>
        <li><a href="#">기모띠</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>